@model IEnumerable<UniversityScheduleApp.Models.Schedule>

<h1>Schedule</h1>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Lesson Number</th>
            <th>Lesson Name</th>
            <th>Lesson Time</th>
            <th>Lesson Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schedule in Model)
        {
            <tr>
                <td>@schedule.Date</td>
                <td>@schedule.LessonNumber</td>
                <td>@schedule.LessonName</td>
                <td>@schedule.LessonTime</td>
                <td>@schedule.LessonDescription</td>
            </tr>
        }
    </tbody>
</table>